.indexText{
    font-size: 18px;
    font-weight: bold;
    color: #FF7E00;
    text-align: justify;
}

.small-box {
    position: relative;
    display: block;
    border-radius: 2px;
    margin-bottom: 15px;
    min-height: 140px;
}

.bg-aqua{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #fff;
    background-color: #0090D9;
    color: #fff;
}

.bg-green{
     border-radius: 5px;
     -moz-border-radius: 5px;
     -webkit-border-radius: 5px;
     border: 1px solid #fff;
     background-color: #37A8AF;
     color: #fff;
}



.bg-blue{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #fff;
    background-color: #3E739D;
    color: #fff;
}

.bg-red{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #fff;
    background-color: #F56954;
    color: #fff;
}

.small-box > .inner {
    padding: 10px;
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0px 0px 10px;
    white-space: nowrap;
    padding: 0px;
    text-align: right;
}

.small-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    left: 5px;
    z-index: 0;
    font-size: 50px;
    color: rgb(251, 255, 251);
}

.panelNew {
    background-color: #FFF;
    box-shadow: 0px 1px 2px #C3C3C3;
    border-radius: 3px;
    color: #8B91A0;
    border: medium none;
    position: relative;
    text-align: center;
}

.panel-redNew {
    background-color: #E66B6B;
    position: relative;
    background-image: -moz-linear-gradient(center top , #EA8181 0px, #E66B6B 100%);
    color: #FFF;
}

.actual-date {
    display: inline-block;
}

.actual-date .actual-day {
    font-size: 11em;
    line-height: 0.9em;
    font-weight: 600;
    display: block;
}

.actual-date .actual-month {
    font-size: 2em;
    line-height: 0.2em;
    display: block;
    text-align: center;
}

.actual-date .actual-title {
    font-size: 3em;
}